body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

iframe {
    width: 100%;
    height: 80%;
}

.img-full {
    width: 100%;
}

.img-width {
    max-width: 250px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

/*social buttons*/

.btn-social {
    color: white;
    opacity: 0.9;
}

.btn-social:hover {
    color: white;
    opacity: 1;
}

.btn-facebook {
    background-color: #3b5998;
    opacity: 0.9;
}

.btn-outline {
    border-color: #c47642;
    color: #c47642;
}

.btn-outline:not(:first-child) {
    margin-left: 10px;
}

.success .btn-outline {
    border-color: white;
    color: white;
}

@media (max-width: 767px) {
    .project .description {
        margin: 0px 10px;
    }
}

p ul {
    margin-left: 20px;
}

p ul li {
    list-style-type: disc;
}

.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    background-color: #c47642;
    color: white;
}

.success .btn-outline:active,
.success .btn-outline:focus,
.success .btn-outline:hover {
    background-color: white;
    color: #c47642;
}

.btn-twitter {
    background-color: #00aced;
    opacity: 0.9;
}

.btn-linkedin {
    background-color: #0e76a8;
    opacity: 0.9;
}

.btn-github {
    background-color: #000000;
    opacity: 0.9;
}

.btn-google {
    background-color: #c32f10;
    opacity: 0.9;
}

.btn-stackoverflow {
    background-color: #D38B28;
    opacity: 0.9;
}

/* resume stuff */

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout:last-child {
    margin-bottom: 0px;
}

.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #101010;
}

.bs-callout-danger h4 {
    color: #101010;
}

section li {
    list-style: none;
    margin-top: 10px
}

section li h4 {
    font-size: 26px;
}

.resume .list-group-item:first-child,
.resume .list-group-item:last-child {
    border-radius: 0;
}

/*makes an anchor inactive(not clickable)*/

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.project:not(:first-child) {
    margin-top: 10px;
    border-top: 3px solid #101010;
    padding-top: 10px;
}

.success .project:not(:first-child) {
    border-top: 3px solid white;
}

.resume-heading .social-btns {
    margin-top: 15px;
}

.social-btn-holder {
    padding: 2px;
}

.margin-bottom {
    margin-bottom: 0px;
}

.margin-top {
    margin-top: 0;
}

.border-top {
    border-top: 1px solid #a3a3a3;
    margin-top: 10px;
}

.resume ul {
    padding-left: 0;
}

.border-top:first-child {
    margin-top: 5px;
}

.page-header {
    border-color: #a3a3a3;
}

.page-header h1 {
    font-weight: bolder;
}

.col-sm-12.sectionborder {
    padding-right: 0;
}